ccmm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:datacite="http://datacite.org/schema/kernel-4" xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml/3.2">
    <xs:import namespace="http://purl.org/dc/elements/1.1/"
        schemaLocation="https://www.dublincore.org/schemas/xmls/qdc/dc.xsd"/>
    <xs:import namespace="http://datacite.org/schema/kernel-4"
        schemaLocation="https://schema.datacite.org/meta/kernel-4.6/metadata.xsd"/>
    <xs:import namespace="http://www.w3.org/2002/07/owl#"
        schemaLocation="https://raw.githubusercontent.com/metadata101/dcat-ap1.1/refs/heads/master/src/main/plugin/dcat-ap/schema/owl.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink"
        schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="https://schemas.opengis.net/gml/3.2.1/geometryBasic0d1d.xsd"/>
    <xs:element name="Dataset" type="DatasetType"/>
    <xs:complexType name="DatasetType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="dc:identifier"/>
            <xs:element maxOccurs="1" ref="dc:title"/>
            <xs:element name="type" type="Dataset_Type"/>
            <xs:element name="abstract">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="description">
                            <xs:complexType>
                                <xs:attribute fixed="Abstract" form="qualified"
                                    name="descriptionType" type="datacite:descriptionType"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="alternateTitle" type="titleType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="alternateIdentifier"
                type="identifierType"/>
            <xs:element minOccurs="0" name="primaryLanguage" type="languageType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="otherLanguage" type="languageType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="dc:description"/>
            <xs:element ref="owl:versionInfo" minOccurs="0"/>
            <xs:element name="attribution">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="creator"> </xs:element>
                        <xs:element maxOccurs="unbounded" ref="publisher"> </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="contributor">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publicationYear">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="timeReference"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="termsOfUse" type="termsOfUseType"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="funding">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element ref="Funding"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="timeReference"> </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedResource">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element minOccurs="1" ref="Resource"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element minOccurs="1" ref="SpatialReference"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="distribution">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element minOccurs="1" ref="Distribution"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="validationResult">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element ref="ValidationResult"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subject">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="Subjects"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Dataset_Type">
        <xs:annotation>
            <xs:documentation>Enumerations contain types of dataset.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="MetadataRecord" type="MetadataRecordType"/>
    <xs:complexType name="MetadataRecordType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="conformance" type="ConformanceType"/>
            <xs:element name="provenance" type="ProvenanceType"/>
            <xs:element name="localIdentifier" type="xs:anyURI"/>
            <xs:element maxOccurs="unbounded" name="metadataLanguage" type="xs:string"/>
            <xs:element minOccurs="0" name="originalRepository" type="OriginalRepositoryType"/>
            <xs:element name="dateCreated">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="timeReference"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="dateUpdated">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="timeReference"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attribution">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="metadataManager"/>
                        <xs:element ref="submitter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="describesDataset">
                <xs:complexType>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Subjects" nillable="true" type="SubjectsType"/>
    <xs:complexType name="SubjectsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Subject" type="SubjectType"/>
            <xs:element minOccurs="0" name="subjectScheme">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="schemeName" type="xs:string"/>
                        <xs:element name="scheme" type="xs:anyURI"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubjectType">
        <xs:sequence>
            <xs:element name="subjectName">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute ref="xml:lang"/>
                            <xs:attributeGroup ref="xlink:simpleAttrs"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="definition">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute ref="xml:lang"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="classificationCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TimeReference" nillable="true" type="TimeReferenceType"/>
    <xs:complexType name="TimeReferenceType">
        <xs:sequence>
            <xs:element name="dateType" type="TimeReference_dateType"/>
            <xs:element name="date" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TimeReference_dateType">
        <xs:annotation>
            <xs:documentation>Enumerations contain date types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="timeReference">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="TimeReference"/>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleAttrs"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Resource" nillable="true" type="ResourceType"/>
    <xs:complexType name="ResourceType">
        <xs:sequence>
            <xs:element ref="dc:identifier"/>
            <xs:element ref="dc:title"/>
            <xs:element name="type" type="Resource_TypeOfResource"/>
            <xs:element name="relationType" type="Resource_RelationType"/>
            <xs:element name="attribution">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="creator"/>
                        <xs:element ref="publisher"/>
                        <xs:element ref="contributor"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="timeReference"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Resource_TypeOfResource">
        <xs:annotation>
            <xs:documentation>Enumerations contain resource types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Resource_RelationType">
        <xs:annotation>
            <xs:documentation>Enumerations contain types of relation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element abstract="true" name="Agent" type="AgentType" nillable="true"/>
    <xs:complexType name="AgentType" abstract="true">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="externalIdentifier">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="dc:identifier"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Person" type="PersonType" substitutionGroup="Agent"/>
    <xs:complexType name="PersonType">
        <xs:complexContent>
            <xs:extension base="AgentType">
                <xs:sequence>
                    <xs:element name="personName" type="personNameType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="personNameType">
        <xs:sequence>
            <xs:element name="givenName" type="xs:string"/>
            <xs:element name="familyName" type="xs:string"/>
            <xs:element name="affiliation">
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:element ref="Organization"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="xlink:simpleAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Organization" type="OrganizationType" substitutionGroup="Agent"
        nillable="true"/>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="AgentType">
                <xs:sequence>
                    <xs:element name="organizationName" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="alternateName"
                        type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="creator">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Agent"/>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleAttrs"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="publisher">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Agent"/>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleAttrs"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="contributor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Agent"/>
                <xs:element name="contribution" type="Contributor_ContributionType"/>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleAttrs"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="Contributor_ContributionType">
        <xs:annotation>
            <xs:documentation>Enumerations contain contribution types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="metadataManager">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Agent"/>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleAttrs"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="submitter">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Agent"/>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleAttrs"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SpatialReference" nillable="true" type="SpatialReferenceType"/>
    <xs:complexType name="SpatialReferenceType">
        <xs:sequence>
            <xs:element name="relationToDataset" type="Spatial_RelationToDataset"/>
            <xs:element minOccurs="0" name="relatedObjectIdentifier" type="xs:anyURI"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="geometry"
                type="gml:GeometryPropertyType"/>
            <xs:element minOccurs="0" name="bbox" type="gml:BoundingShapeType"/>
            <xs:element minOccurs="0" name="locationName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Spatial_RelationToDataset">
        <xs:annotation>
            <xs:documentation>Enumerations contain types of relation to dataset.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="Distribution" type="DistributionType" abstract="true" nillable="true"/>
    <xs:complexType name="DistributionType" abstract="true"/>
    <xs:element name="DowloadableFile" type="DownloadableFileType" substitutionGroup="Distribution"/>
    <xs:complexType name="DownloadableFileType">
        <xs:complexContent>
            <xs:extension base="DistributionType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DataServiceFile" type="DataServiceType" substitutionGroup="Distribution"/>
    <xs:complexType name="DataServiceType">
        <xs:complexContent>
            <xs:extension base="DistributionType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ValidationResult" nillable="true" type="ValidationResultType"/>
    <xs:complexType name="ValidationResultType"/>
    <xs:element name="Funding" nillable="true" type="FundingType"/>
    <xs:complexType name="FundingType">
        <xs:sequence>
            <xs:element name="localIdentifier" type="xs:anyURI"/>
            <xs:element minOccurs="0" name="awardTitle" type="xs:string"/>
            <xs:element minOccurs="0" name="awardNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="fundingProgramme"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="titleType">
        <xs:sequence>
            <xs:element ref="dc:title"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="identifierType">
        <xs:sequence>
            <xs:element ref="dc:identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="languageType">
        <xs:sequence>
            <xs:element ref="dc:language"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="termsOfUseType">
        <xs:sequence>
            <xs:element name="rightsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rights">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="rightsURI" type="xs:anyURI"/>
                                        <xs:attribute name="rightsIdentifier"/>
                                        <xs:attribute name="rightsIdentifierScheme"/>
                                        <xs:attribute name="schemeURI" type="xs:anyURI"/>
                                        <xs:attribute ref="xml:lang"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:any maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConformanceType">
        <xs:sequence>
            <xs:element name="metadataStandard">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attributeGroup ref="xlink:simpleAttrs"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProvenanceType"/>
    <xs:complexType name="OriginalRepositoryType"/>
</xs:schema>
