czech-core-metadata-model/metadata-record/schema.xsd.bak

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="unqualified" xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:include schemaLocation="../repository/schema.xsd"/>
  <xs:include schemaLocation="../application-profile/schema.xsd"/>
  <xs:include schemaLocation="../resource-to-agent-relationship/schema.xsd"/>
  <xs:complexType name="metadata_record">
    <xs:annotation>
      <xs:documentation xml:lang="ar">
        سجل
      </xs:documentation>
      <xs:documentation xml:lang="cs">
        Katalogizační záznam - Záznam v datovém katalogu popisující jednu datovou sadu či datovou službu.
      </xs:documentation>
      <xs:documentation xml:lang="da">
        Katalogpost - En post i et datakatalog der beskriver registreringen af et enkelt datasæt eller en datatjeneste.
      </xs:documentation>
      <xs:documentation xml:lang="el">
        Καταγραφή καταλόγου - Μία καταγραφή ενός καταλόγου, η οποία περιγράφει ένα συγκεκριμένο σύνολο δεδομένων.
      </xs:documentation>
      <xs:documentation xml:lang="en">
        Metadata Record - Description of the metadata record of the dataset. 
      </xs:documentation>
      <xs:documentation xml:lang="es">
        Registro del catálogo - Un registro en un catálogo de datos que describe un solo conjunto de datos o un servicio de datos.
      </xs:documentation>
      <xs:documentation xml:lang="fr">
        Registre du catalogue - Un registre du catalogue ou une entrée du catalogue, décrivant un seul jeu de données.
      </xs:documentation>
      <xs:documentation xml:lang="it">
        Record di catalogo - Un record in un catalogo di dati che descrive un singolo dataset o servizio di dati.
      </xs:documentation>
      <xs:documentation xml:lang="ja">
        カタログ・レコード - 1つのデータセットを記述したデータ・カタログ内のレコード。
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="date_updated" type="xs:date" sawsdl:modelReference="http://purl.org/dc/terms/modified">
        <xs:annotation>
          <xs:documentation xml:lang="">
            Date updated
          </xs:documentation>
          <xs:documentation xml:lang="en">
            Date updated - Date on which the resource was changed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="date_created" type="xs:date" sawsdl:modelReference="http://purl.org/dc/terms/created">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Date Created - The date on which the metadata record was created.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="language" type="xs:string" sawsdl:modelReference="http://purl.org/dc/terms/language">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Language - Language of the metadata record
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="original_repository" type="repository" sawsdl:modelReference="https://techlib.cz/vocabulary/ccmm/originalRepository">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            original repository - Link to the repository from which the metadata were originally stored and curated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="conforms_to_standard" type="application_profile" sawsdl:modelReference="http://purl.org/dc/terms/conformsTo">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Conforms to standard - An established standard to which the metadata record conforms.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="qualified_relation" type="resource_to_agent_relationship" sawsdl:modelReference="http://www.w3.org/ns/dcat#qualifiedRelation">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            kvalifikovaný vztah - Odkaz na popis vztahu s jiným zdrojem.
          </xs:documentation>
          <xs:documentation xml:lang="da">
            Kvalificeret relation - Reference til en beskrivelse af en relation til en anden ressource.
          </xs:documentation>
          <xs:documentation xml:lang="en">
            qualified relation - Link to a description of a relationship between metadata record and agent.
          </xs:documentation>
          <xs:documentation xml:lang="es">
            relación calificada - Enlace a una descripción de la relación con otro recurso.
          </xs:documentation>
          <xs:documentation xml:lang="it">
            relazione qualificata - Link a una descrizione di una relazione con un'altra risorsa.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metadata_record" type="metadata_record"/>
</xs:schema>
