czech-core-metadata-model/distribution/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
  elementFormDefault="unqualified" xmlns:c="https://schemas.dataspecer.com/xsd/core/"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:include schemaLocation="../documentation/schema.xsd"/>
  <xs:include schemaLocation="../application-profile/schema.xsd"/>
  <xs:include schemaLocation="../data-service/schema.xsd"/>
  <xs:include schemaLocation="../application-profile/schema.xsd"/>
  <xs:include schemaLocation="../media-type/schema.xsd"/>
  <xs:include schemaLocation="../file/schema.xsd"/>
  <xs:import namespace="https://schemas.dataspecer.com/xsd/core/" schemaLocation="./2022-07.xsd"/>
  <xs:complexType name="distribution" sawsdl:modelReference="http://www.w3.org/ns/dcat#Distribution"
    abstract="true">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Distribution  
      </xs:documentation>
      <xs:documentation xml:lang="ar">
        التوزيع - شكل محدد لقائمة البيانات يمكن الوصول إليه. قائمة بيانات ما يمكن أن تكون متاحه باشكال و أنواع متعددة.  ملف يمكن تحميله أو واجهة برمجية يمكن من خلالها الوصول إلى البيانات هي أمثلة على ذلك.
      </xs:documentation>
      <xs:documentation xml:lang="cs">
        Distribuce - Konkrétní reprezentace datové sady. Datová sada může být dostupná v různých serializacích, které se mohou navzájem lišit různými způsoby, mimo jiné přirozeným jazykem, media-typem či formátem, schematickou organizací, časovým a prostorovým rozlišením, úrovní detailu či profily (které mohou specifikovat některé či všechny tyto rozdíly).
      </xs:documentation>
      <xs:documentation xml:lang="da">
        Distribution - En specifik repræsentation af et datasæt. Et datasæt kan være tilgængelig i mange serialiseringer der kan variere på forskellige vis, herunder sprog, medietype eller format, systemorganisering, tidslig- og geografisk opløsning, detaljeringsniveau eller profiler (der kan specificere en eller flere af ovenstående).
      </xs:documentation>
      <xs:documentation xml:lang="el">
        Διανομή - Αναπαριστά μία συγκεκριμένη διαθέσιμη μορφή ενός συνόλου δεδομένων. Κάθε σύνολο δεδομενων μπορεί να είναι διαθέσιμο σε διαφορετικές μορφές, οι μορφές αυτές μπορεί να αναπαριστούν διαφορετικές μορφές αρχείων ή διαφορετικά σημεία διάθεσης. Παραδείγματα διανομών συμπεριλαμβάνουν ένα μεταφορτώσιμο αρχείο μορφής CSV, ένα API ή ένα RSS feed.
      </xs:documentation>
      <xs:documentation xml:lang="en">
        A specific representation of a dataset. A dataset might be available in multiple serializations that may differ in various ways, including natural language, media-type or format, schematic organization, temporal and spatial resolution, level of detail or profiles (which might specify any or all of the above).
      </xs:documentation>
      <xs:documentation xml:lang="es">
        Distribución - Una representación específica de los datos. Cada conjunto de datos puede estar disponible en formas diferentes, las cuáles pueden variar en distintas formas, incluyendo el idioma, 'media-type' o formato, organización esquemática, resolución temporal y espacial, nivel de detalle o perfiles (que pueden especificar cualquiera o todas las diferencias anteriores).
      </xs:documentation>
      <xs:documentation xml:lang="fr">
        Distribution - Représente une forme spécifique d'un jeu de données. Caque jeu de données peut être disponible sous différentes formes, celles-ci pouvant représenter différents formats du jeu de données ou différents endpoint. Des exemples de distribution sont des fichirs CSV, des API ou des flux RSS.
      </xs:documentation>
      <xs:documentation xml:lang="it">
        Distribuzione - Rappresenta una forma disponibile e specifica del dataset. Ciascun dataset può essere disponibile in forme differenti, che possono rappresentare formati diversi o diversi punti di accesso per un dataset. Esempi di distribuzioni sono un file CSV scaricabile, una API o un RSS feed.
      </xs:documentation>
      <xs:documentation xml:lang="ja">
        配信 - データセットの特定の利用可能な形式を表わします。各データセットは、異なる形式で利用できることがあり、これらの形式は、データセットの異なる形式や、異なるエンドポイントを表わす可能性があります。配信の例には、ダウンロード可能なCSVファイル、API、RSSフィードが含まれます。
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="c:iri"/>
      <xs:element minOccurs="1" name="title" type="xs:string"
        sawsdl:modelReference="http://purl.org/dc/terms/title">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            Title
          </xs:documentation>
          <xs:documentation xml:lang="en">
            A name given to the distribution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="distribution" type="distribution"/>
  <xs:complexType name="distribution_data_service" sawsdl:modelReference="Distribution-DataService">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Distrbution - data service  
      </xs:documentation>
      <xs:documentation xml:lang="en">
        Physical embodiment of the dataset as a particular data service. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="distribution">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="description" type="langString"
            sawsdl:modelReference="http://purl.org/dc/terms/description">
            <xs:annotation>
              <xs:documentation xml:lang="en">
            Description
          </xs:documentation>
              <xs:documentation xml:lang="en">
            A free-text account of the Distribution.
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documentation" type="documentation"
            sawsdl:modelReference="http://xmlns.com/foaf/0.1/page">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Documentation
              </xs:documentation>
              <xs:documentation xml:lang="en">
            A page or document about this Distribution.
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="specification"
            type="application_profile" sawsdl:modelReference="http://purl.org/dc/terms/conformsTo">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Specification
              </xs:documentation>
              <xs:documentation xml:lang="en">
            An established standard to which the distribution conforms.
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="access_service" type="data_service"
            sawsdl:modelReference="http://www.w3.org/ns/dcat#accessService">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Access service
              </xs:documentation>
              <xs:documentation xml:lang="cs">
            služba pro přístup k datům - Umístění či přístupový bod zpřístupňující distribuci datové sady.
          </xs:documentation>
              <xs:documentation xml:lang="da">
            dataadgangstjeneste - Et websted eller endpoint der giver adgang til en repræsentation af datasættet.
          </xs:documentation>
              <xs:documentation xml:lang="en">
            A site or end-point that gives access to the distribution of the dataset.
          </xs:documentation>
              <xs:documentation xml:lang="es">
            servicio de acceso de datos - Un sitio o end-point que da acceso a la distribución de un conjunto de datos.
          </xs:documentation>
              <xs:documentation xml:lang="it">
            servizio di accesso ai dati - Un sito o end-point che dà accesso alla distribuzione del set di dati.
          </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="distribution_data_service" type="distribution_data_service"
    substitutionGroup="distribution"/>
  <xs:complexType name="distribution_downloadable_file"
    sawsdl:modelReference="Distribution-DownloadableFile">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Distribution - downloadable file
      </xs:documentation>
      <xs:documentation xml:lang="en">
        Physical embodiment of the dataset in a particular format. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="distribution">
        <xs:sequence>
          <xs:element name="checksum" type="xs:string"
            sawsdl:modelReference="http://spdx.org/rdf/terms#checksumValue">
            <xs:annotation>
              <xs:documentation xml:lang="en">
            Checksum
          </xs:documentation>
              <xs:documentation xml:lang="en">
            A mechanism that can be used to verify that the contents of a distribution have not changed. 
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="byte_size" type="xs:integer"
            sawsdl:modelReference="http://www.w3.org/ns/dcat#byteSize">
            <xs:annotation>
              <xs:documentation xml:lang="en">
            Byte size
          </xs:documentation>
              <xs:documentation xml:lang="en">
            The size of a Distribution in bytes. 
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="format" type="xs:anyURI"
            sawsdl:modelReference="http://purl.org/dc/terms/format">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Format
              </xs:documentation>
              <xs:documentation xml:lang="en">
                The file format of the Distribution. 
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="conforms_to_schema"
            type="application_profile" sawsdl:modelReference="http://purl.org/dc/terms/conformsTo">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Conforms to schema
              </xs:documentation>
              <xs:documentation xml:lang="en">
            An established standard to which the distribution conforms.
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="media_type" type="media_type"
            sawsdl:modelReference="http://www.w3.org/ns/dcat#mediaType">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Media type
              </xs:documentation>
              <xs:documentation xml:lang="ar">
            نوع الميديا - يجب استخدام هذه الخاصية إذا كان نوع الملف معرف ضمن IANA
          </xs:documentation>
              <xs:documentation xml:lang="cs">
            typ média - Typ média distribuce definovaný v IANA.
          </xs:documentation>
              <xs:documentation xml:lang="da">
            medietype - Medietypen for distributionen som den er defineret af IANA.
          </xs:documentation>
              <xs:documentation xml:lang="el">
            τύπος μέσου - Η ιδιότητα αυτή ΘΑ ΠΡΕΠΕΙ να χρησιμοποιείται όταν ο τύπος μέσου μίας διανομής είναι ορισμένος στο IANA, αλλιώς η ιδιότητα dcterms:format ΔΥΝΑΤΑΙ να χρησιμοποιηθεί με διαφορετικές τιμές.
          </xs:documentation>
              <xs:documentation xml:lang="en">
            The media type of the distribution as defined by IANA
          </xs:documentation>
              <xs:documentation xml:lang="es">
            tipo de media - Esta propiedad debe ser usada cuando está definido el tipo de media de la distribución en IANA, de otra manera dcterms:format puede ser utilizado con diferentes valores
          </xs:documentation>
              <xs:documentation xml:lang="fr">
            type de média - Cette propriété doit être utilisée quand c'est définit le type de média de la distribution en IANA, sinon dcterms:format DOIT être utilisé avec différentes valeurs.
          </xs:documentation>
              <xs:documentation xml:lang="it">
            tipo di media - Il tipo di media della distribuzione come definito da IANA
          </xs:documentation>
              <xs:documentation xml:lang="ja">
            メディア・タイプ - このプロパティーは、配信のメディア・タイプがIANAで定義されているときに使用すべきで（SHOULD）、そうでない場合には、dcterms:formatを様々な値と共に使用できます（MAY）。
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="access_url" type="xs:anyURI"
            sawsdl:modelReference="http://www.w3.org/ns/dcat#accessURL">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Access URL
              </xs:documentation>
              <xs:documentation xml:lang="ar">
            رابط وصول - أي رابط يتيح الوصول إلى البيانات. إذا كان الرابط هو ربط مباشر لملف يمكن تحميله استخدم الخاصية downloadURL
          </xs:documentation>
              <xs:documentation xml:lang="cs">
            přístupová adresa - URL zdroje, přes které je přístupná distribuce datové sady. Příkladem může být vstupní stránka, RSS kanál či SPARQL endpoint. Použijte ve všech případech kromě URL souboru ke stažení, pro které je lepší použít dcat:downloadURL.
          </xs:documentation>
              <xs:documentation xml:lang="da">
            adgangsadresse - En URL for en ressource som giver adgang til en repræsentation af datsættet. Fx destinationsside, feed, SPARQL-endpoint. Anvendes i alle sammenhænge undtagen til angivelse af et simpelt download link hvor anvendelse af egenskaben downloadURL foretrækkes.
          </xs:documentation>
              <xs:documentation xml:lang="el">
            URL πρόσβασης - Μπορεί να είναι οποιουδήποτε είδους URL που δίνει πρόσβαση στη διανομή ενός συνόλου δεδομένων. Π.χ. ιστοσελίδα αρχικής πρόσβασης, μεταφόρτωση, feed URL, σημείο διάθεσης SPARQL. Να χρησιμοποιείται όταν ο κατάλογος δεν περιέχει πληροφορίες εαν πρόκειται ή όχι για μεταφορτώσιμο αρχείο.
          </xs:documentation>
              <xs:documentation xml:lang="en">
            A URL that gives access to a Distribution of the Dataset.
          </xs:documentation>
              <xs:documentation xml:lang="es">
            URL de acceso - Puede ser cualquier tipo de URL que de acceso a una distribución del conjunto de datos, e.g., página de destino, descarga, URL feed, punto de acceso SPARQL. Esta propriedad se debe usar cuando su catálogo de datos no tiene información sobre donde está o cuando no se puede descargar.
          </xs:documentation>
              <xs:documentation xml:lang="fr">
            URL d'accès - Ceci peut être tout type d'URL qui donne accès à une distribution du jeu de données. Par exemple, un lien à une page HTML contenant un lien au jeu de données, un Flux RSS, un point d'accès SPARQL. Utilisez le lorsque votre catalogue ne contient pas d'information sur quoi il est ou quand ce n'est pas téléchargeable.
          </xs:documentation>
              <xs:documentation xml:lang="it">
            indirizzo di accesso - Un URL di una risorsa che consente di accedere a una distribuzione del set di dati. Per esempio, pagina di destinazione, feed, endpoint SPARQL. Da utilizzare per tutti i casi, tranne  quando  si tratta di un semplice link per il download nel qual caso è preferito downloadURL.
          </xs:documentation>
              <xs:documentation xml:lang="ja">
            アクセスURL - データセットの配信にアクセス権を与えるランディング・ページ、フィード、SPARQLエンドポイント、その他の種類の資源。
          </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="download_url" type="xs:anyURI"
            sawsdl:modelReference="http://www.w3.org/ns/dcat#downloadURL">
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Download URL
              </xs:documentation>
              <xs:documentation xml:lang="ar">
            رابط تحميل - رابط مباشر لملف يمكن تحميله. نوع الملف يتم توصيفه باستخدام الخاصية dcterms:format dcat:mediaType 
          </xs:documentation>
              <xs:documentation xml:lang="cs">
            URL souboru ke stažení - URL souboru ke stažení v daném formátu, například CSV nebo RDF soubor. Formát je popsán vlastností distribuce dcterms:format a/nebo dcat:mediaType.
          </xs:documentation>
              <xs:documentation xml:lang="da">
            downloadURL - URL til fil der kan downloades i et bestemt format. Fx en CSV-fil eller en RDF-fil. Formatet for distributionen angives ved hjælp af egenskaberne dcterms:format og/eller dcat:mediaType.
          </xs:documentation>
              <xs:documentation xml:lang="el">
            URL μεταφόρτωσης - Είναι ένας σύνδεσμος άμεσης μεταφόρτωσης ενός αρχείου σε μια δεδομένη μορφή. Π.χ. ένα αρχείο CSV ή RDF. Η μορφη αρχείου περιγράφεται από τις ιδιότητες dcterms:format ή/και dcat:mediaType της διανομής.
          </xs:documentation>
              <xs:documentation xml:lang="en">
            A URL that is a direct link to a downloadable file in a given format.
          </xs:documentation>
              <xs:documentation xml:lang="es">
            URL de descarga - La URL de un archivo descargable en el formato dato. Por ejemplo, archivo CSV o archivo RDF. El formato se describe con las propiedades de la distribución dcterms:format y/o dcat:mediaType.
          </xs:documentation>
              <xs:documentation xml:lang="fr">
            URL de téléchargement - Ceci est un lien direct à un fichier téléchargeable en un format donnée. Exple fichier CSV ou RDF. Le format est décrit par les propriétés de distribution dcterms:format et/ou dcat:mediaType.
          </xs:documentation>
              <xs:documentation xml:lang="it">
            URL di scarico - Questo è un link diretto al file scaricabile in un dato formato. E.g. un file CSV o un file RDF. Il formato è descritto dal dcterms:format e/o dal dcat:mediaType della distribuzione.
          </xs:documentation>
              <xs:documentation xml:lang="ja">
            ダウンロードURL - dcat:downloadURLはdcat:accessURLの特定の形式です。しかし、DCATプロファイルが非ダウンロード・ロケーションに対してのみaccessURLを用いる場合には、より強い分離を課すことを望む可能性があるため、この含意を強化しないように、DCATは、dcat:downloadURLをdcat:accessURLのサブプロパティーであると定義しません。
          </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="distribution_downloadable_file" type="distribution_downloadable_file"
    substitutionGroup="distribution"/>
</xs:schema>
