czech-core-metadata-model/organization/schema.xsd.bak

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="unqualified" xmlns:c="https://schemas.dataspecer.com/xsd/core/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:import namespace="https://schemas.dataspecer.com/xsd/core/" schemaLocation="./2022-07.xsd"/>
  <xs:complexType name="langString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="organization" sawsdl:modelReference="http://www.w3.org/ns/prov#Organization http://xmlns.com/foaf/0.1/Agent">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Organization - Represents a collection of people organized together into a community or other social, commercial or political structure. The group has some common purpose or reason for existence which goes beyond the set of people belonging to it and can act as an Agent. Organizations are often decomposable into hierarchical structures. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="c:iri"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alternate_name" type="langString" sawsdl:modelReference="http://www.w3.org/2006/vcard/ns#organization-name">
        <xs:annotation>
          <xs:documentation xml:lang="">
            Alternate name
          </xs:documentation>
          <xs:documentation xml:lang="en">
            To specify the organizational name associated with the object
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="langString" sawsdl:modelReference="http://www.w3.org/2006/vcard/ns#organization-name">
        <xs:annotation>
          <xs:documentation xml:lang="">
            Alternate name
          </xs:documentation>
          <xs:documentation xml:lang="en">
            To specify the organizational name associated with the object
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="organization" type="organization"/>
</xs:schema>
